
nav#navbaradmin {
    position: fixed;
    height: -webkit-fill-available;
  }
  

  span#titreadmin {
    top: -190px;
    position: relative;
    margin: auto;
    right: 29px;
  }
  
  svg#icontitreadmin {

    position: relative;
    left: 5px;
  }
  
  div#iconDashboard {
    position: relative;
    top: -170px;
  }
  
  div#userIcon {
    position: relative;
    top: -160px;
  }
  
  div#messagesIcon {
    position: relative;
    top: -140px;
  }
  
  div#streetwearIcon {
    position: relative;
    top: -120px;
  }
  
  div#streetwearIcon2 {
    position: relative;
    top: -100px;
  }
  
  div#streetwearIcon3 {
    position: relative;
    top: -80px;
  }
  
  div#streetwearIcon4 {
    position: relative;
    top: -60px;
  }
  
  div#shoesIcon {
    position: relative;
    top: -40px;
  }


  a.nav-link {
  
    display: table-cell;
  }
  button#deleteaacount {
    top: auto;
    position: inherit;
}
button#UpdateAccountButton {
  margin: auto;
  position: inherit;
}

.mb-3.form-group {
  width: auto;
  margin: auto;
}
button.btn.btn-btn.btn-danger ,button.btn.btn-primary {
  margin: auto;
    height: auto;
    width: -webkit-fill-available;
    position: inherit;
}








#texteadd {
  position: inherit;
  font-family: 'Kaushan Script';
  font-size: -webkit-xxx-large;
  top: 11px;

}

div#iconeadd {
  top: -75px;
  position: relative;
  left: 107px;
}




div#container-accountadminmessage {
  border: 3px solid #bbbbbb;
  width: 298px;
  height: 285px;
  margin: 76px;
  position: relative;
  left: 455px;
  border-radius: 25px;
  box-shadow: rgb(33 31 32 / 40%) -5px 5px, rgb(37 34 36 / 30%) -10px 10px, rgb(14 14 14 / 20%) -15px 15px, rgb(33 31 32 / 10%) -20px 20px, rgb(21 19 20 / 5%) -25px 25px;
}




div#messageadmin {
  display: flex;
  flex-direction: column-reverse;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

div#admincontainer {
  display: flex;
  flex-direction: column-reverse;
  flex-direction: row;
  flex-wrap: wrap;
}

.justify-content-md-center.row {
  margin: 26px;
  position: relative;
  right: -118px;
}

div#container-accountadmin2 {
  border: 3px solid #bbbbbb;
  width: 419px;
  height: 615px;
  margin: auto;
  position: relative;
  top: 26px;
  border-radius: 25px;
  box-shadow: rgb(33 31 32 / 40%) -5px 5px, rgb(37 34 36 / 30%) -10px 10px, rgb(14 14 14 / 20%) -15px 15px, rgb(33 31 32 / 10%) -20px 20px, rgb(21 19 20 / 5%) -25px 25px;
}

form#formAccountadmin2 {
  height: auto;
  margin: auto;
  width: 20rem;
  top: -5px;
  position: relative;
}