@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

html {
  padding: 0;
  margin: 0;
  font-family: arial;
  height: 100%;
  color: #999;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white no-repeat;

  background-size: cover;
  background-position: center;
  min-height: 100%;
}



a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  flex-grow: 1;
}

* {
  box-sizing: border-box;
}

#reg,
#log {
  font-size: 2em;
  margin: 0 0 30px 0;
}

input#mail,
input#password,
input#username,
input#comfirmPassword {
  padding: 15px;
  width: 100%;
  font-size: 1em;
  border: 0;
  border-radius: 5px;
  color: #b3b3b3;
  background-color: #333333;
  margin-bottom: 15px;
}

#button1,
#button2 {
  background-color: #5a7884;
  color: white;
  padding: 15px;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

#option {
  color: #b3b3b3;
  margin-top: 10px;
  display: block;
  font-size: 0.9em;
}

#login-body {
  max-width: 410px;
  margin: auto;
  background-color: rgb(13 66 94);
  color: white;
  border-radius: 16px;
  padding: 50px;
  margin-top: 50px;
}

/* a partire de la c la navbar */

.HorizontalList {
  list-style: none;

}

.nav-item.dropdown {
  padding-left: 19px;
}

a#sneakers {
  padding-left: 60px;
}

a#quisommenous {
  padding-left: 28px;
}

.HorizontalList__Item {
  display: inline-block;
  margin: 6px 8px 6px 8px;
  margin-right: 21px;
  margin-left: 21px;
}

.Heading {
  font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1c1b1b;
  transition: color .2s ease-in-out;
  letter-spacing: .2em;
  text-transform: uppercase;
}

label.form-label {
  display: flex;
}



.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: auto;
  width: 1479px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

#main-nav {
  transition: all 1s ease;
}

.navbar-brand {

  font-family: 'Kaushan Script' !important;
  transition: all 0.4s ease;
}

h1#Bienvenue-sneakers,
#contacter,
#bienvenue-streetwear,
#Bienvenue-panier,
#bienvenue-decouvrire,
#Bienvenue-compte,
#home-h1,
#bienvenue-livraison,
#bienvenue-precommande {
  position: absolute;
  top: 128px;
  right: 0;
  left: 0;
  z-index: 1030;
}

div#caroussel {
  position: absolute;
  top: 191px;
  right: 0;
  left: 0;
  z-index: 1030;
}

#qui-somme-nous {
  position: absolute;
  top: 182px;
  right: 0;
  left: 0;
  z-index: 1030;
}

#une-autre-question {
  position: absolute;
  top: 350px;
  right: 0;
  left: 0;
  z-index: 1030;
}

#autheticité {
  position: absolute;
  top: 500px;
  right: 0;
  left: 0;
  z-index: 1030;
}

#controle-produits {
  position: absolute;
  top: 280px;
  right: 0;
  left: 576px;
  z-index: 1030;
  text-align-last: left;
}

#DISPONIBILITÉ {
  position: absolute;
  top: 1000px;
  right: 0;
  left: 0;
  z-index: 1030;
}


#PRIX-RÉDUCTIONS {
  position: absolute;
  top: 1204px;
  right: 0;
  left: 0;
  z-index: 1030;
}

#reductions {
  position: absolute;
  right: 0;
  left: 576px;
  top: 195px;
  text-align-last: left;
}

p#p1-qui-somme-nous,
p#p1-qui-somme-nous2,
p#p1-qui-somme-nous3 {
  text-align-last: left;
  position: absolute;
  left: 576px;
}

button.btn.btn-primary {
  margin: auto;
}

#Navicon {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 1000px;
  z-index: 1030;
}

div#search {
  position: fixed;
  right: 20px;
  top: 10px;

}


div#sneakersContainer {
  display: flex;
}



span.MuiBadge-badge.MuiBadge-anchorOriginTopRightRectangle.MuiBadge-colorPrimary {
  top: 6px;
  right: 13px;
}

button.btn.btn-primary {
  background: #343a3f;
  height: auto;
}

span.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorPrimary {
  width: 110px;
  height: 110px;
  background: white;
}

button.btn.btn-btn.btn-danger, button.btn.btn-primary {
    margin: auto;
    height: auto;
    width: -webkit-fill-available;
    position: initial;
}

button#UpdateAccountButton {
  width: -webkit-fill-available;
  position: initial;
}

div#produitCard {
  width: 310px;
  box-shadow: 0px 0px 6px 1px rgb(52 58 63);
  border: solid rgba(0, 0, 0, 0.2) 1px;
  margin: 10px;
  /* margin-top: 15px; */
  border-radius: 20px;
}

form#formAccount {
  height: auto;
  margin: auto;
  width: 20rem;
  top: 79px;
  position: relative;

}

h2#h2-account {
  font-family: 'Kaushan Script';
  top: 45px;
  position: relative;
}

.mb-3.input-group,
label.form-label {
  width: auto;
  margin: auto;
}
div#select {
  margin: 4px;
 
}

h3#h3contacteznous {
  font-family: 'Kaushan Script';
  position: relative;
  left: 19px;
}

.mb-3.form-group {
  width: 90%;
  margin: auto;
}

div#Footer {
  margin-right: auto;
}

section#contact {
  position: absolute;
  top: 128px;
  right: 0;
  left: 0;
  z-index: 1030;
}

#main-nav {
  transition: all 1s ease;
}

button.btn.btn-primary {
  width: auto;
}


.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, .5);
  border-color: rgba(255, 255, 255, .1);
}

.collapse:not(.show) {
  display: none;
}


.accordion {
  width: 79%;
  margin: auto;
  position: relative;
  top: 70px;
  position: relative;
  margin-bottom: 20px;
}

form#NousContacter {
  width: 994px;
  position: relative;
  margin: auto;
}

input#buttonNouscontacter {
  height: auto;
  width: 90%;
  margin: auto;
}

h1#quisommenous {
  font-family: 'Kaushan Script' !important;
  top: 38px;
  position: relative;
}

.accordion>.card>.card-header {
  border-radius: 17px;
}

.accordion>.card:last-of-type {
  border-radius: 17px;
}

@media all and (max-width: 1030px) {
  .container {
    width: 800px;
  }
}

@media all and (max-width: 830px) {
  .container {
    width: 580px;
  }

  header {
    text-align: center;
    padding-left: 20px;
  }
}



#imgpanier{
  height: fit-content;
  width: 308px;
  /* left: 30px; */
  margin-inline-start: -72px;
}
div#produitCardpanier {
  width: 310px;
  box-shadow: 0px 0px 6px 1px rgb(52 58 63);
  border: solid rgba(0, 0, 0, 0.2) 1px;
  margin: 10px;
  /* margin-top: 15px; */
  flex-direction: row;
  height: 200px;
  width: 760px;
  border-radius: 20px;
}
p#prixpanier {
  font-size: xx-large;
  color: green;
  margin-right: 342px;
}
p#subtitlepanier {
  margin-right: 313px;
  font-size: revert;
  /* color: black; */
}


:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-purple: #4b145b;
  --clr-red-special: #b4345c;
  --clr-grey-special: #eae6eb;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 920px;
}


button#comfirme\ la\ commande {
  width: auto;
  top: 123px;
  position: relative;
}


.AppWrapper {
  width: 500px;
  height: 400px;
  margin: auto;
  position: relative;
  top: 348px;
}
.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}
.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}
.SubmitButton {
  display: block;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #343a40;
  box-shadow: 0 6px 9px rgb(50 50 93 / 6%), 0 2px 5px rgb(0 0 0 / 8%), inset 0 1px 0 #343a40;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
}
.SubmitButton:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
  transform: scale(0.99);
}

@media screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
}

.question {
  padding: 1rem 1.5rem;
  border: 2px solid var(--clr-grey-special);
  margin-bottom: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}

.question h4 {
  text-transform: none;
  line-height: 1.5;
}

.question p {
  color: var(--clr-grey-3);
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question header h4 {
  margin-bottom: 0;
}

.btn {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background: var(--clr-grey-special);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--clr-red-special);
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}

.question-title {
  cursor: pointer;
}

section.info {
  position: absolute;
  top: 167px;
  display: inline-table;
  left: 55px;
  margin: auto;
}

h3#titrefaq {
  position: absolute;
  top: 95px;
  /* display: inline-table; */
  left: 55px;
  /* margin: auto; */
}















aside#summary {
  position: fixed;
  top: 60px;
  right: 10px;
  bottom: 0;
  width: 450px;
  overflow: auto;
  height: 100%;
  background: #fff;
  box-shadow: 0 2px 19px 4px rgb(0 0 0 / 4%);
  transition: right 0.3s ease-in-out;
}
#summary .line-item.total .label, #summary .line-item.total .price {
  color: #424770;
  font-size: 24px;
  font-weight: 400;
  line-height: inherit;
}
#summary .line-item .label {
  flex: 1;
  text-align: left;
}
#summary .line-item.subtotal {
  margin-top: 30px;
  margin-bottom: 0;
  padding-top: 10px;
  border-top: 1px solid #f3f3ff;
}
.line-item {
  display: flex;
  flex-direction: row;
  padding: 30px 30px 0 30px;
}
img.image {
  display: block;
  width: 115px;
  height: fit-content;
  margin-right: 15px;
  background: #f6f9fc;
  border-radius: 3px;
}
.label {
  flex: 1;
  text-align: left;
}
#summary .line-item .count, #summary .line-item .price {
  font-size: 14px;
  padding-left: 10px;
  text-align: right;
  line-height: 24px;
}
p.count {
  color: #8898aa;
}
p.product {
  color: #424770;
}
p.sku {
  font-size: 14px;
  color: #8898aa;
}

p.price {
    color: #8ba4fe;
    font-weight: bold;
}
.line-item.subtotal {
  margin-top: 30px;
  margin-bottom: 0;
  padding-top: 10px;
  border-top: 1px solid #f3f3ff;
}
button#buttonpanierminus {
  color: #fff;
  background-color: #3f52b5;
  border-color: #3f52b5;
  width: auto;
  height: fit-content;
  position: absolute;
  right: 22px;
  /* top: 117px; */
  margin-top: 42px;
  border-radius: 15px;
}
button#buttonpanier {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  width: auto;
  height: fit-content;
  position: absolute;
  right: 60px;
  /* top: 117px; */
  margin-top: 42px;
  border-radius: 15px;
}

button#closebuttonpanier {
  position: absolute;
  right: 2px;
  margin-top: -24px;
}





form#formulairecontacteznous {
  width: 39%;
  /* height: 500px; */
  margin: auto;
  top: 249px;
  position: relative;
}

span#basic-addon1,span.input-group-text {
  background: #343a40;
}

i#iconformcontacteznous,span.input-group-text {
  color: white;
}

textarea#exampleForm\.ControlTextarea1 {
  height: 149px;
}


div#container-account {
  border: 3px solid #bbbbbb;
  width: 549px;
  height: 659px;
  margin: auto;
  position: relative;
  top: 126px;
  border-radius: 25px;
  box-shadow: rgb(33 31 32 / 40%) -5px 5px, rgb(37 34 36 / 30%) -10px 10px, rgb(14 14 14 / 20%) -15px 15px, rgb(33 31 32 / 10%) -20px 20px, rgb(21 19 20 / 5%) -25px 25px;
}